
.about-us-fact__img {
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 17px;
  background-color: inherit;
  fill: $decoration-first;

  &--flower {
    width: 33px;
    height: 38px;
    margin-left: 7px;

    @media (min-width: $size-tablet) {
      margin-bottom: 20px;
    }
  }

  &--banknote {
    width: 48px;
    height: 27px;
    margin-bottom: 26px;
    margin-left: -1px;
  }

  &--heart {
    width: 34px;
    height: 27px;
    margin-top: 4px;
    margin-bottom: 22px;
    margin-left: 6px;
  }

  &--ball {
    width: 35px;
    height: 34px;
    margin-bottom: 19px;
    margin-left: 3px;

    @media (min-width: $size-tablet) {
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }

  &--rocket {
    width: 55px;
    height: 23px;
    margin-top: 2px;
    margin-bottom: 27px;
    margin-left: -6px;
  }

  &--gift {
    width: 33px;
    height: 32px;
    margin-bottom: 22px;
    margin-left: 3px;
  }
}

.about-us-fact__text {
  @include font(bold, 17px, 20px, $text-first);
  margin: 0;
  padding: 0;

  @media (min-width: $size-tablet) {
    font-size: 20px;
    line-height: 22px;
  }
}
