.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-width: 100px;
  min-height: 52px;

  @include font(bold, 17px, 20px, $text-main, uppercase);
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: $background-first;
  text-decoration: none;
  border: 2px solid $border;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $border;
    color: $text-second;
  }

  &:active .button__text {
    opacity: 0.3;
  }
}
