.button-add-cart {
  width: 20px;
  height: 19px;

  &:hover .button-add-cart__img,
  &:focus .button-add-cart__img {
    opacity: 1;
    fill: $decoration-first;
  }

  &:active {
    opacity: 0.3;
  }
}

.button-add-cart__img {
  opacity: 0.2;
}
