.contact {
  padding-top: 35px;
  padding-bottom: 39px;

  @media (min-width: $size-tablet) {
    display: grid;
    padding-top: 70px;
    padding-bottom: 57px;
  }

  @media (min-width: $size-desktop) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    width: 1150px;
    max-width: 1150px;
    padding: 0 $padding-desktop;
    margin: 0 auto;
    padding-top: 71px;
    padding-bottom: 104px;
  }
}

.contact__content-box {
  @media (min-width: $size-desktop) {
    grid-column: 1 / 2;
    width: auto;
    margin: 0;
    padding: 0;
    padding-left: 173px;
  }
}

.contact__title {
  margin: 0;
  margin-bottom: 27px;
  position: relative;

  @include title;

  @media (max-width: $size-mobile-only) {
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $size-tablet) {
    padding-right: 60px;
    margin-bottom: 49px;

    &::after {
      position: absolute;
      top: -20px;
      right: 3px;
      display: block;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      content: "";
    }
  }

  @media (min-width: $size-desktop) {
    margin-top: 78px;
    margin-bottom: 37px;
    padding-right: 10px;

    &::after {
      top: -16px;
      left: -32%;
      right: auto;
    }
  }
}

.contact__list {
  @include list-reset;
  margin-bottom: 33px;

  @media (min-width: $size-tablet) and (max-width: $size-desktop - 1px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
  }

  @media (min-width: $size-desktop) {
    padding-right: 23px;
  }
}

.contact__item {
  display: flex;
  margin-bottom: 30px;

  @media (min-width: $size-tablet) and (max-width: $size-desktop - 1px) {
    width: 50%;
  }
}

.contact__name {
  min-width: 76px;
  margin: 0;
  padding: 0;
  padding-right: 10px;

  @include font(normal, 15px, 30px, $text-main);

  @media (min-width: $size-tablet) {
    min-width: 79px;
    font-size: 17px;
  }

  @media (min-width: $size-desktop) {
    min-width: 78px;
  }
}

.contact__definition {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  padding-right: 10px;

  @include font(normal, 15px, 30px, $text-main);

  @media (min-width: $size-tablet) {
    font-size: 17px;
  }

  @media (min-width: $size-tablet) and (max-width: $size-desktop) {
    padding-right: 20px;
  }
}


.contact__link {
  padding-bottom: 3px;
  text-transform: none;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid $decoration-first;

  &:hover,
  &:focus {
    color: $decoration-second;
    border-color: $decoration-second;
  }

  &:active {
    border-color: rgba($decoration-second, 0.1);
  }

  @media (min-width: $size-desktop) {
    padding-bottom: 8px;
  }
}


.contact__text {
  margin: 0;
}

.contact__map {
  width: 100%;
  min-height: 457px;
  margin-bottom: 39px;
  background-color: $background-second;
  background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@1x.jpg");
  background-size: 67px 100px, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: 55% 146px, center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: $size-tablet) {
    margin-bottom: 55px;
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@1x.jpg");
    background-position: 52% 141px, center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $size-desktop) {
    margin-bottom: 0;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@1x.jpg");
    background-position: 52% 146px, center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@2x.jpg");
    }

  }
}

.contact__button-box {
  @media (min-width: $size-tablet) {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: auto;
  margin: 0;
  padding: 0;

  @media (min-width: $size-desktop) {
    margin-left: 55px;
  }
  }
}

.contact__button {
  @media (min-width: $size-tablet) {
    min-width: 230px;
  }
}
