.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: $size-tablet) {
    justify-content: flex-end;
  }
}

.copyright__text {
  margin-right: 27px;

  @include font(bold, 19px, 18px, $text-first);
}

.copyright__link {
  display: flex;

  &:hover path,
  &:focus path {
    fill: $decoration-second;
  }

  &:active path {
    opacity: 0.3;
  }
}
