.email-input {
  position: relative;
  width: 100%;
  margin-bottom: 34px;

  @media (min-width: $size-tablet) {
    padding-top: 0;
    margin-bottom: 50px;
  }
}

.email-input__input {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 13px;
  border: none;
  border-radius: none;
  border-bottom: 2px solid $text-first;
  background-color: inherit;

  @include font(normal, 19px, 24px, $text-main);
  font-family: "Open Sans", "Arial", sans-serif;

  @media (min-width: $size-tablet) {
    padding-bottom: 12px;
    padding-left: 17px;
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: $decoration-first;
  }

  &:hover ~ .email-input__img,
  &:focus ~ .email-input__img {
    fill: $decoration-first;
    opacity: 1;
  }
}

.email-input__input::placeholder {
  @include font(normal, 17px, 25px, $text-placeholder);
  font-family: "Open Sans", "Arial", sans-serif;

  @media (min-width: $size-tablet) {
    font-size: 19px;
    line-height: 22px;
  }
}

.email-input__img {
  position: absolute;
  bottom: 9px;
  right: 3px;
  opacity: 0.2;

  @media (min-width: $size-tablet) {
    right: 22px;
  }

  @media (min-width: $size-desktop) {
    right: 4px;
  }
}
