.main-navigation {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $size-tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-navigation__logo {
  align-self: center;
  justify-self: center;
  min-height: 79px;

  @media (min-width: $size-tablet) {
    min-height: 89px;
  }

  @media (min-width: $size-decktop) {
    min-height: 89px;
    order: 1;
  }
}

.main-navigation__logo path {
  fill: $logo;
}

.main-navigation__toggle {
  display: none;
}

.main-navigation__list-site {
  @media (min-width: $size-tablet) and (max-width: $size-decktop) {
    position: absolute;
    left: 0;
    top: calc(100% + 20px);
  }
}

.main-navigation__list-promo {
  position: absolute;
  left: 0;
  top: calc(100% + 20px);

  @media (max-width: $size-decktop) {
    display: none;
  }
}

.main-navigation__delivery {
  position: absolute;
  right: 0;
  top: calc(100% + 20px);

  @include font(normal, 15px, 24px, $text-main);

  @media (max-width: $size-tablet) {
    display: none;
  }
}

.main-navigation__right-side {
  @media (min-width: $size-decktop) {
    order: 2;
  }

  @media (min-width: $size-tablet) {
    display: flex;
  }
}
