.name-input {
  display: block;
  padding-bottom: 22px;

  @media (min-width: $size-tablet) {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
  }
}

.name-input__input {
  display: block;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 11px;
  border: none;
  border: none;
  border-radius: none;
  border-bottom: 2px solid $text-first;
  background-color: inherit;

  @include font(normal, 19px, 18px, $text-main);
  font-family: "Open Sans", "Arial", sans-serif;

  @media (min-width: $size-tablet) {
    margin-left: 26px;
    padding-left: 17px;
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: $decoration-first;
  }
}

.name-input__input::placeholder {
  @include font(normal, 17px, 22px, $text-placeholder);
  font-family: "Open Sans", "Arial", sans-serif;

  @media (min-width: $size-tablet) {
    font-size: 19px;
    line-height: 19px;
  }
}
