.name-input {
  display: block;
  padding-bottom: 22px;

  @media (min-width: $size-tablet) {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
  }
}

.name-input__input {
  display: block;
  width: 100%;
  height: 52px;
  border: none;
  box-shadow: inset 0 -2px 0 $text-first;
  padding: 0;

  @include font(normal, 19px, 18px, $text-main);
  font-family: "Open Sans", "Arial", sans-serif;

  @media (min-width: $size-tablet) {
    margin-left: 26px;
    padding-left: 17px;
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: inset 0 -2px 0 $decoration-first;
  }
}

.name-input__input::placeholder {
  @include font(normal, 17px, 51px, $text-placeholder);
  font-family: "Open Sans", "Arial", sans-serif;

  @media (min-width: $size-tablet) {
    font-size: 19px;
    line-height: 48px;
  }
}
