.page-header {
  position: relative;
  z-index: -2;
  @include font-nav;
  background-color: $background-main-image;
  @media(max-width: $size-mobile-only) {
    background-color: $background-first;
  }
}
