.product-button {
  display: block;
  background-color: $background-navigation-products1;

  @include font(bold, 19px, 24px, $text-second);

  &--style--dark {
    background-color: $background-navigation-products2;
  }
}

.product-button__link {
  text-decoration: none;
  color: inherit;
}
