.product-offering {
  position: relative;
  margin: 0;
  padding: 31px 0 42px 0;

  &::before {
    position: absolute;
    bottom: 0;
    left: -$padding-mobile;
    width: calc(100% + 2 * 30px);
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px 7px;
    background-repeat: repeat-x;
    background-position: center;
    content: "";

    @media (min-width: $size-tablet) {
      width: calc(100% + 2 * 50px);
      left: -$padding-tablet;
      height: 17px;
      background-size: 768px 17px;
    }

    @media (min-width: $size-desktop) {
      left: 0;
      height: 23px;
      width: 100%;
      background-size: 1050px 24px;
    }
  }

  @media (min-width: $size-tablet) {
    padding-top: 41px;
    padding-bottom: 68px;
  }

  @media (min-width: $size-desktop) {
    padding-top: 54px;
    padding-bottom: 95px;
  }
}
