.promo-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.promo-list__link {
  display: block;
  width: 220px;
  padding-right: 10px;

  @include font-nav-second;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
