.reviews {
  position: relative;
  padding-bottom: 38px;
  background-color: transparent;

  @media (min-width: $size-tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 541px;
    padding-top: 82px;
    padding-bottom: 84px;
  }

  @media (min-width: $size-desktop) {
    min-height: 547px;
    padding-top: 78px;
    padding-bottom: 90px;
    padding-left: 16.66%;
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: -$padding-mobile;
    width: calc(100% + 2 * 30px);
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center bottom;
    content: "";

    @media (min-width: $size-tablet) {
      left: -$padding-tablet;
      height: 17px;
    }

    @media (min-width: $size-desktop) {
      left: 0;
      height: 23px;
      width: 100%;
    }
  }
}

.reviews__background {
  display: none;

  @media (min-width: $size-tablet) {
    position: absolute;
    top: 0;
    left: - $padding-tablet;
    display: block;
    width: 350px;
    height: 457px;
    content: "";
    background-image: url("../img/review@1x.jpg");
    background-size: 350px 457px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.reviews__title {
  position: relative;
  background-color: inherit;
  margin: 0;
  margin-bottom: 14px;

  @include title;

  @media (min-width: $size-tablet) {
    flex-grow: 1;
    margin-bottom: 39px;
  }

  @media (min-width: $size-desktop) {
    margin-bottom: 35px;
  }
}

.reviews__wrapper {
  @media (min-width: $size-tablet) {
    position: relative;
    order: 1;
  }
}

.reviews__list {
  @include list-reset;
}

.reviews__article {
  margin: 0;
}

.reviews__text {
  margin-bottom: 33px;

  @include font(normal, 15px, 30px, $text-main);

  @media (min-width: $size-tablet) {
    @include font(normal, 17px, 30px, $text-main);
  }

  @media (min-width: $size-tablet) {
    margin-bottom: 35px;
  }
}

.reviews__author-name {
  font-style: normal;

  @include font(bold, 17px, 24px, $text-first);

  @media (min-width: $size-tablet) {
    width: 70%;

    @include font(bold, 18px, 24px, $text-first);
  }

  @media (min-width: $size-tablet) {
    @include font(bold, 18px, 24px, $text-first);
  }
}

.reviews__author-nickname {
  margin-bottom: 30px;

  @include font(normal, 17px, 30px, $text-main);
}

.reviews__buttons-slider {
  margin-bottom: 38px;

  @media (min-width: $size-tablet) {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 175px;
  }
}

.reviews__button {
  @media (max-width: $size-mobile-only) {
    width: 100%;
  }

  @media (min-width: $size-tablet) {
    margin-left: auto;
    min-width: 175px;
    max-width: 240px;
  }
}
