.search {
  display: flex;
  align-items: center;
}

.search__input {
  border: none;
}

.search__input::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;

  @include font(bold, 17px, 24px, $text-first);
}
