.search {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;

  &:hover .search__img,
  &:focus .search__img {
    fill: $decoration-first;
    opacity: 1;
  }

  &:hover .search__text,
  &:focus .search__text {
    opacity: 0.6;
  }

  &:active .search__img,
  &:active .search__text {
    opacity: 0.3;
  }

  @media (min-width: $size-min-mobile + 100px) and (max-width: $size-mobile-only) {
    justify-content: center;
    padding-right: 44px;
  }

  @media (min-width: $size-tablet) {
    padding-left: 31px;
    padding-right: 31px;
    border-left: 1px solid rgba($logo, 0.1);
    border-right: 1px solid rgba($logo, 0.1);
  }
}

.search__img {
  margin-left: 2px;
  margin-top: 5px;
  opacity: 0.2;
}

.search__text {
  @include font-nav;
  margin-left: 26px;

  @media (min-width: $size-tablet) {
    display: none;
  }
}
