.site-list {
  @include list-reset;

  @media (min-width: $size-tablet) {
    display: flex;
    flex-wrap: wrap;

    & :not(:last-child) {
      margin-right: 37px;
    }
  }

  @media (min-width: $size-desktop) {
    & :not(:last-child) {
      margin-right: 36px;
      padding-right: 35px;
      border-right: 1px solid rgba($logo, 0.1);
    }
  }
}

.site-list__item {
  position: relative;
  display: flex;
  align-items: center;

  @include horizontal-line;

  @media (max-width: $size-mobile-only) {
    min-height: 79px;
  }
}

.site-list__link {
  @include font-nav;
  text-decoration: none;
  margin-left: 46px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $size-tablet) and (max-width: $size-desktop - 1px) {
    @include font-nav-second;
    margin-left: 0px;
  }

  @media (min-width: $size-desktop) {
    margin-left: 0px;
  }
}
