.site-list {
  @include list-reset;

  @media (min-width: $size-tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.site-list__link {
  @include font-nav;
  text-decoration: none;

  @media (min-width: $size-tablet) and (max-width: $size-decktop) {
    @include font-nav-second;
  }
}
