.slider {
  width: 100%;
}

.slider__buttons-slider {
  display: none;
  flex-wrap: wrap;

  &--on {
    display: flex;
  }
}

.slider__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  min-width: 60px;
  min-height: 52px;
  background-color: $background-first;
  border: 1px solid $border-button-slider;
  cursor: pointer;

  @media (min-width: $size-tablet) {
    border: none;
  }


  &:hover,
  &:focus {
    outline: none;
  }

  &:hover .slider__button-img,
  &:focus .slider__button-img {
    opacity: 0.6;
  }

  &:active .slider__button-img {
    opacity: 0.3;
  }
}

.slider__button-img {
  display: block;
  width: 50px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &--forvard {
    background-image: url("../img/icon-right-arrow.svg");
  }

  &--backward {
    background-image: url("../img/icon-left-arrow.svg");
  }

  @media (min-width: $size-desktop) {
    margin-top: -11px;
  }
}

.slider__item {
  display: none;

  &--active {
    display: list-item;
  }
}
