.slider__buttons-slider {
  display: flex;
  flex-wrap: wrap;
}

.slider__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  min-width: 60px;
  min-height: 52px;
  background-color: $background-first;
  border: 1px solid $border-button-slider;
  cursor: pointer;
}

.slider__button-img {
  display: block;
  width: 50px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  &--forvard {
    background-image: url(../img/icon-right-arrow.svg);
  }
  &--backward {
    background-image: url(../img/icon-left-arrow.svg);
  }
}


