.socials__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.socials__item {
  padding: 0 20px;
}

.socials__link {
  &:hover path,
  &:focus path {
    fill: $decoration-second;
  }

  &:active path {
    opacity: 0.3;
  }
}
