.socials__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.socials__item {
  padding: 0 20px;
}

.socials__link {
  &:hover .socials__img,
  &:focus .socials__img {
    fill: $decoration-second;
  }

  &:active .socials__img {
    opacity: 0.3;
  }
}
