.tel-input {
  position: relative;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 35px;
  padding: 0;

  @media (min-width: $size-tablet) {
    margin-top: 50px;
    margin-bottom: 24px;
  }
}

.tel-input__input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 12px;
  border: none;
  border-bottom: 2px solid $text-first;
  border-radius: 0;
  background-color: inherit;

  @include font(normal, 19px, 18px, $text-main);
  font-family: "Open Sans", "Arial", sans-serif;

  @media (min-width: $size-tablet) {
    padding-left: 17px;
    padding-bottom: 14px;
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: $decoration-first;
  }

  &:hover ~ .tel-input__img,
  &:focus ~ .tel-input__img {
    fill: $decoration-first;
    opacity: 1;
  }
}

.tel-input__input::placeholder {
  @include font(normal, 17px, 22px, $text-placeholder);
  font-family: "Open Sans", "Arial", sans-serif;

  @media (min-width: $size-tablet) {
    font-size: 19px;
  }
}

.tel-input__img {
  position: absolute;
  bottom: 17px;
  right: 8px;
  opacity: 0.2;
  pointer-events: none;

  @media (min-width: $size-tablet) {
    bottom: 18px;
    right: 26px;
  }

  @media (min-width: $size-desktop) {
    bottom: 17px;
    right: 8px;
  }
}
