.video {
  display: grid;
  grid-template-columns: 91px 1fr;
  grid-template-rows: 96px;
  align-items: center;
  padding-bottom: 33px;
  margin-bottom: 58px;
  border: 1px solid $border-button-slider;

  @media (min-width: $size-tablet) {
    grid-template-rows: min-content 96px;
    padding-bottom: 46px;
    margin-bottom: 63px;
  }

  @media (min-width: $size-desktop) {
    grid-template-columns: 65% 230px;
    grid-template-rows: 84px min-content 1fr min-content;
    column-gap: 79px;
    padding-bottom: 0;
    margin-bottom: 105px;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:hover .video__box {
    box-shadow: 15px 0 0 0 white, -15px 0 0 0 white;

    @media (min-width: $size-tablet) {
      box-shadow: 0 -20px 0 20px white;
    }

    @media (min-width: $size-desktop) {
      box-shadow: 1px 0 0 0 white, 0 0 0 1px $border-button-slider, -20px 0 0 20px white;
    }
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.video__icon {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 5px;
  margin-top: -5px;
  justify-self: center;
  background-image: url("../img/icon-video.svg");
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $size-tablet) {
    margin-top: 5px;
    margin-left: 22px;
  }

  @media (min-width: $size-desktop) {
    justify-self: start;
    align-self: center;
    margin-top: 30px;
    margin-left: 0;
  }
}

.video__title {
  grid-column: 2 / 3;
  margin: 0;
  padding: 15px 0;
  align-self: center;
  margin-top: -4px;

  @include font(bold, 17px, 24px, $text-first);

  @media (min-width: $size-tablet) {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 15px;
  }

  @media (min-width: $size-desktop) {
    margin-top: 0;
    margin-left: 0;
  }
}

.video__box {
  position: relative;
  width: 100%;
  padding-top: calc(100% * 150 / 260);
  grid-column: 1 / -1;
  margin-bottom: 22px;
  background-color: $background-second;

  @media (min-width: $size-tablet) {
    grid-row: 1 / 2;
    margin-bottom: 0;
    padding-top: calc(100% * 455 / 668);
  }

  @media (min-width: $size-desktop) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    padding-top: calc(100% * 455 / 683);
  }
}

.video__video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-image: url("../img/video-mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }

  @media (min-width: $size-tablet) {
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  @media (min-width: $size-desktop) {
    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}

.video__button-play {
  --size: 1;
  --width: calc(100px * var(--size));
  --height: calc(77px * var(--size));

  position: absolute;
  top: calc(50% - var(--height) / 2);
  left: calc(50% - var(--width) / 2);
  width: var(--width);
  height: var(--height);
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  overflow: visible;

  &:hover,
  &:focus {
    --size: 1.2;
    outline: none;
  }

  &:active {
    --size: 0.8;
    opacity: 0.3;
  }
}

.video__text {
  grid-column: 1 / -1;
  padding: 0 32px;
  margin-bottom: 41px;

  @include font(normal, 13px, 24px, $text-main);

  @media (min-width: $size-tablet) {
    align-self: start;
    margin-bottom: 40px;
    margin-top: -6px;
    padding: 0 29px;
    padding-left: 39px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $size-desktop) {
    grid-column: 2 / 3;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
  }
}

.video__button {
  grid-column: 1 / -1;
  align-items: center;
  margin: 0 33px;

  @media (min-width: $size-tablet) {
    margin: 0 41px;
  }

  @media (min-width: $size-desktop) {
    grid-column: 2 / 3;
    margin: 0;
    margin-bottom: 60px;
  }
}
