.button {
  display: block;
  padding: 16px;
  min-width: 100px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: $background-first;
  border: 2px solid $border;
}
