
$logo: #000000;

$decoration-first: #62d1ba;
$decoration-second: #46c1ae;

$text-main: #444444;
$text-first: #000000;
$text-second: #ffffff;
$text-third: $decoration-first;
$text-placeholder: rgba($text-first, 0.3);

$background-first: #ffffff;
$background-second: #f1f1f1;
$background-navigation-products1: $decoration-first;
$background-navigation-products1-hover: #59d5bc;
$background-navigation-products1-active: #59d5bc;
$background-navigation-products2: #56c3b2;
$background-navigation-products2-hover: $decoration-second;
$background-navigation-products2-active: $decoration-second;
$background-main-image: #f9f9f9;
$background-footer-line: #e5e5e5;

$border: $text-main;
$border-button-slider: #ececec;
