*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
  margin-right: calc((100% - 100vw) /  2);
  margin-left: calc((100% - 100vw) / 2);
}

.content-box-component {
  box-sizing: content-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  min-width: 320px;
  height: 100%;
  font-size: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 27px;
}

.page__body {
  min-height: 100%;
  max-width: 100%;
  margin: 0;
  background-color: $background-first;
  color: $text-first;
}

$size-min-mobile: 320px;
$size-tablet: 768px;
$size-mobile-only: $size-tablet - 1;
$size-desktop: 1150px;
$size-max-desktop: $size-desktop + 600px;

$padding-mobile: 30px;
$padding-tablet: 50px;
$padding-desktop: 50px;

.wrapper {
  min-width: $size-min-mobile;
  width: 100%;
  margin: 0 auto;
  padding: 0 $padding-mobile;

  @media (min-width: $size-tablet) {
    width: 768px;
    padding: 0 $padding-tablet;
  }

  @media (min-width: $size-desktop) {
    width: 1150px;
    max-width: $size-max-desktop;
    padding: 0 $padding-desktop;

  }
}

