*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  font-size: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 27px;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: $background-first;
  color: $text-first;
}

$size-mobile: 320px;
$size-tablet: 708px;
$size-decktop: 1090px;

.wrapper {
  width: $size-mobile;
  margin: 0 auto;
  padding: 0 30px;
  outline: 1px solid red;
  outline-offset: -1px;

  @media (min-width: $size-tablet) {
    width: $size-tablet;
    padding: 0 20px;
    outline: 1px solid blue;
  }

  @media (min-width: $size-decktop) {
    width: $size-decktop;
    padding: 0 20px;
    outline: 1px solid green;
  }
}
