@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin font ($font-weight: inherit, $font-size: inherit, $line-height: inherit, $color: inherit, $text-transform: none) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  text-transform: $text-transform;
}
