@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin font ($font-weight: inherit, $font-size: inherit, $line-height: inherit, $color: inherit, $text-transform: none) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  text-transform: $text-transform;
}

@mixin title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $text-first;

  @media (min-width: $size-tablet) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $size-desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}

@mixin font-nav {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $text-first;
}

@mixin font-nav-second {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: $text-first;
}
